﻿<?xml version="1.0" encoding="utf-8"?>
<pdef:Page xmlns:pdef="http://www.br-automation.com/iat2015/pageDefinition/v2" id="page_0" layoutRefId="layout_0">
  <Assignments>
    <Assignment type="Content" baseContentRefId="content_0" areaRefId="area1" backColor="rgba(255, 255, 255, 0)" />
  </Assignments>
</pdef:Page>